
.box1 {
    float:left;
    width:30%;
    box-sizing: border-box;
    text-align: center;
    top: 50%;
    transform: translate(0, 50%);
}
a:hover{
    background-color: gold;
}
.box2 {
    float:right;
    width:70%;
    box-sizing: border-box;
}